@font-face {
  font-family: 'iconfont';  /* project id 210090 */
  src: url('//at.alicdn.com/t/font_r5i88jrck75sif6r.eot');
  src: url('//at.alicdn.com/t/font_r5i88jrck75sif6r.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_r5i88jrck75sif6r.woff') format('woff'),
  url('//at.alicdn.com/t/font_r5i88jrck75sif6r.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_r5i88jrck75sif6r.svg#iconfont') format('svg');
}
.app-iconfont {
    font-family: "iconfont" !important;
    font-size: inherit;
    /*font-size: .16rem;*/
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
