@import './antui-all.css';
$mainColor:#3b9cf5;
$green : #4cd964;
$bg-gray: #c8c8c8;
//$bd-gray: #d2d2d2;
$ft-black: #333;
$ft-size: .16rem;
@import './app-iconfont';

/* am-ui*/

.am-toast:not([am-version]) {
  z-index: 12000
}


.am-article:not([am-version]) {
  font-size: $ft-size;
  padding-bottom: 0;
}

.am-list:not([am-version]).form .am-list-button a,
.am-list:not([am-version]).form .am-list-button button {
  width: .74rem;
}

.am-switch:not([am-version]) .am-switch-inner {
  &:before {
    color: #fff;
    content: '';
    text-align: left;
    padding-left: .03rem;
    line-height: .3rem;
    background-color: $green;
    border: none;
  }
  &:after {
    color: $ft-black;
    content: '';
    text-align: right;
    padding-right: .03rem;
    line-height: .3rem;
    background-color: $bg-gray;
    border: none;

  }
}

.am-toast:not([am-version]) .am-toast-text {
  overflow: auto;
  white-space: normal;
  position: relative;
  z-index: 1000;
}

 input::-webkit-input-placeholder { /* placeholder颜色  */
  color: $bg-gray !important;
  /* placeholder字体大小  */
  font-size: .16rem !important;
}

@media screen and (max-width: 360px) and (min-width: 360px),
screen and (max-width: 384px) and (min-width: 384px),
screen and (max-width: 412px) and (min-width: 412px) {
  .am-switch:not([am-version]) .am-switch-inner {
    &:before {
      padding-left: .08rem;
      line-height: .22rem;
      font-size: .12rem;
    }
    &:after {
      line-height: .22rem;
      font-size: .12rem;
      padding-right: .08rem;
    }
  }
}

.icon {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

/* global*/

html {
  font-size: 90px;
  @media only screen and (max-width: 320px) and (min-width: 320px) {}
  @media only screen and (min-width: 412px) {
    font-size: 103px !important;
  }
  @media only screen and (min-width: 384px) {
    font-size: 96px !important;
  }
}

body {
  background-color: #F0EFF4;
}

.tar {
  text-align: right!important;
}

.uppercase {
  text-transform: uppercase;
}

.flex-right {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -moz-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.checkbox {
  .app-checkbox {
    width: .18rem;
    height: .18rem;
    padding-right: .05rem
  }
  &.am-checkbox:not([am-version]) .icon-check,
  .am-checkbox:not([am-version]).tiny .icon-check {
    width: 100%;
    height: 100%;
    &:after {
      right: .05rem;
      top:.01rem
    }
  }
}

.am-list-contents {
  font-size: $ft-size
}
section {
  padding-top: .1rem;
  background-color: #ebf5fe;
}
.am- {
  &list {
    padding: 0 .1rem .1rem .1rem;
    background-color: #ebf5fe;
    &-last {
      padding: 0 .2rem .1rem .2rem;
    }
    &-body {
      padding-top: .1rem;
      padding-bottom: .1rem;
      background-color: #fff;
    }
    &-label {
      color: $ft-black !important;
      font-size: $ft-size !important;
    }
    &-item {
      font-size: $ft-size !important;
      border: none;
      background: none !important;
      padding: 0 .1rem !important;
      min-height: .5rem !important;
    }
    &-item.check {
      padding-left: .5rem !important;
    }
    //输入框
    &-control {
      position: relative;
      font-size:  $ft-size !important;
      border: 1px solid $bg-gray;border-radius: .05rem;overflow: hidden;padding: .04rem .25rem .04rem .1rem;
      input {
        white-space: nowrap;text-overflow: ellipsis;font-size: $ft-size !important;
      }
    }
    &-change {
      min-width: .8rem;text-align: center;
      font-size: .16rem;
      line-height: .25rem;
      margin-left: .1rem;
      border: 1px solid $bg-gray;border-radius: .05rem;overflow: hidden;padding: .04rem 0;
    }
    &-change.orange {
      border: 1px solid #ff9212;color: #ff9212;
    }
    .changeBlue {
      color: #fff;
      border: 1px solid $mainColor;
      background-color: $mainColor;
    }
    //按钮
    &-control-button {
      min-height: .3rem !important;
      padding-top: .1rem !important;
      .am-list-control {
        border: none;overflow: hidden;padding:0;
        button {
          width: auto !important;
          min-width: .5rem;
          height: .3rem;line-height: .3rem;
          border-radius: .05rem;
          padding: 0 .1rem !important;
          //margin-bottom: .1rem;
          margin-right: .1rem;
          margin-bottom: .1rem;
        }
        button.tiny {
          color: #888;
          background-color: #fff;
          border: 1px solid $bg-gray !important;
        }
        button.tiny-blue {
          color: #fff;
          border: 1px solid $mainColor !important;
          background-color: $mainColor !important;
        }
      }
    }
    //清除按钮
    &-clear {
      position: absolute;
      right: .05rem;
      top: 0.05rem;
    }
    //switch
    &-switch {
      display: inline-block;
      color: $mainColor;
      width: 80%;
      font-size: $ft-size;
    }
    .am-switch{
      float: right;
      margin-top: .05rem;
    }

    //险种
    &-dropdown-main {
      padding: 0 !important;
      font-size: $ft-size !important;
      .am-ft-md {
        font-size: $ft-size !important;
      }
    }
    &-dropdown-list {
      padding-left: 0 !important;
      //margin-top: .1rem;
      .hm{
        padding: .1rem;
      }
      .hm>div{
        width: 48%;
        display: inline-block;
        margin-bottom: .05rem;
      }
      .hm>div>span{
        padding-left: .1rem;
        color: #ff9212;
      }
    }

    //伸缩框
    &-item.dropdown {
      padding: 0 !important;
    }
    &-dropdown-main {
      padding: 0 .15rem !important;
      border-bottom: solid 1px #e4e4e4;
      min-height: .5rem !important;
      .am-list-label {
        font-size: .18rem !important;
        color: $mainColor !important;
        width: 100% !important;
      }
    }
  }

}

//底部按钮
.am- {
  &button-group{
    padding-top: .2rem;
    padding-bottom: .2rem;
    .am-button {
      border-radius: .05rem;
      a {
        display: inline-block;
        width: 100%;
      }
    }
    .am-button.blue {
      a{
        color: #fff;
      }
    }
    .am-button.white {
      border-color: $mainColor;
      color: $mainColor;
    }
    .am-button.gray {
      border-color: $bg-gray;
      background-color: $bg-gray;
      a{
        color: #fff;
      }
    }
  }

}
//健康告知
.app- {
  &img {
    display: block;
    width: 100%;
  }
  &navi {
    color: #fff;
    padding: .15rem;
  }
  &loading {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    background-color: #FFF;
  }
  &prompt{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  &article {
    font-size: $ft-size;
    line-height: 1.5;
    padding: .1rem;
    color: $ft-black;
    p{
      margin-bottom: .05rem;
      text-indent: .2rem;
    }
  }
  &agreement {
    .am-checkbox.agreement .icon-check, .am-checkbox.argument .icon-check {
      margin-left: 0;
    }
    .am-checkbox.agreement label, .am-checkbox.argument label {
      padding-left: 0;
      font-size: $ft-size
    }

  }
  &color {
    &-success {
      color: #108EE9!important;
    }
    &-error {
      color: #F4333C!important;
    }
    &-warn {
      color: #FFC600!important;
    }
    &-wait {
      color: #2CD7AA!important;
    }
  }
  &list {
    color: $ft-black;
    font-size: .16rem;
    padding: .07rem .15rem .05rem;
    min-height: .32rem;
    vertical-align: middle;
    text-align: left;
    overflow: inherit;
    display: -webkit-box;
    display: -webkit-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    background-color: #FFF;
    -moz-background-size: .15rem .01rem, .15rem .01rem, 100% 0, 100% .01rem;
    background-size: .15rem .01rem, .15rem .01rem, 100% 0, 100% .01rem;
    &-header {
      font-size: .18rem;
      color: $mainColor;
      padding: .1rem .15rem;
      width: 100%;
      background-color: #fff;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      border-bottom: 1px solid #e4e4e4;
      .app-iconfont {
        margin-left: .04rem;
        margin-right: .04rem;
        color: $mainColor;
        font-size: .18rem;
        position: relative;
        top: -.01rem;
      }
    }
    &-control {
      width: 100%;
    }
    textarea {
      width: 100%;
      border: 1px solid #e8e8e8;
      margin: .05rem 0;
      padding: .03rem;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      -moz-border-radius: 3px;
      border-radius: 3px;
      font-size: .14rem;
      overflow: visible;
      display: block;
      resize: none;
      word-break: break-all;
      word-wrap: break-word;
      line-height: normal
    }
    &-title {
      color: $ft-black;
      font-size: $ft-size !important;
      line-height: .25rem;
      width: auto;
      text-align: left;
      -webkit-flex: 5;
    }
    &-button {
      .am-button {
        margin-right: 0 !important;
        float: right;
      }
    }
    &-brief {
      color: #888;
      font-size: .15rem;
      line-height: .2rem;
      padding-top: .1rem;
      padding-bottom: .1rem;
    }
  }
  &navi.am-tab:not([am-version]) .am-tab-item {
    background-color: #f1f1f1;
    color: #fff;
    &.selected {
      background-color: $mainColor;
      border-bottom-color: $mainColor;
    }
  }
  &list-btn {
    color: #4386FB;
    .app-iconfont {
      color: #4386FB;
    }
  }
  &notice {
    h2,
    h3 {
      padding-bottom: .17rem;
    }
  }
  &sync {
    padding-right: .26rem;
    color: #108ee9;
    &.am-checkbox:not([am-version]).mini .icon-check {
      right: 0;
      margin-top: -.09rem;
    }
  }
  &btns {
    button {
      margin: .03rem;
    }
  }
}

.app-dialog {
  z-index: 100;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  &-bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    background-color: rgba(0,0,0,.5);
  }
  .am-dialog-wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 90%;
    background-color: #fff;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  //确认
  .am-dialog-header {
    height: .42rem;
    line-height: .42rem;
    width: 100%;
    text-align: center;
  }
  .am-dialog-body {
    overflow: auto;
  }
  .am-button.tiny-blue{
    color: #fff;
    border: none !important;
    background-color: #3b9cf5 !important;
  }

}

.am-toast .am-toast-text{
  min-width: 2rem;
  max-width: 3rem;
  padding: .2rem;
  min-height: 0;
}
